<div class="profile box u">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong class="user-info">{{user.firstName}} {{user.lastName}}</strong> 
                    <br>
                    <small>{{user.username}}</small>
                    <br>
                </p>
            </div>
        </div>
        <img src="/tmp/upload/{{user.id}}.png" alt="">
    </article>
</div>
<br>
    <p class="stat-text title" >Game Stats</p>
<div class="tile is-ancestor" id="game-stat">
    {{#each Stat}}
    <div class="tile is-parent">
        <div class="tile is-child notification is-success">
            <h1 class="title">{{game.title}}</h1>
            <p class="subtitle">{{name}}</p>
            <p class="subtitle">{{value}}</p>
        </div>
    </div>
    {{/each}}
</div>
