<div class="profile box u">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{user.firstName}} {{user.lastName}}</strong> <br>
                    <small>{{user.username}}</small>
                    <br>
                </p>
            </div>
        </div>
        <img src="/tmp/upload/{{user.id}}.png" alt="">
    </article>
</div>
<br>

<div class="columns is-mobile">
    <div class="row">
    <div class="column-8 gameStats">
        <article class="box">
            <p class="title">Game Stats</p>
            {{#each Stat}}
            <div class="card">
                <h1>{{game.title}}</h1>
                <p>{{name}}</p>
                <p>{{value}}</p>
            </div>
            {{/each}}
        </article>
    </div>
    </div>
</div>