<div class="profile box u">
    <article class="media">
        <div class="media-center">
            <figure class="image is-64x64">
                <form action="/api/users/prof" method="post" enctype="multipart/form-data"> <input id="prof-img"
                        type="file" name="avatar" class="button" />
                </form>

            </figure>
            <h4 class="upload"><i class="fas fa-angle-double-up"></i>
                Upload Your Game Photo</h4>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong class="title">{{user.firstName}} {{user.lastName}}</strong>
                    <br>
                    <small>{{user.username}}</small>
                    <br>
                </p>
            </div>
        </div>

        <img src="/tmp/upload/{{user.id}}.png" alt="" class="profile-photo">

    </article>
</div>
<br>

    <p class="stat-text title" >Game Stats</p>
<div class="tile is-ancestor" id="game-stat">
    {{#each Stat}}
    <div class="tile is-parent">
        <div class="tile is-child notification is-success">
            <h1 class="title">{{game.title}}</h1>
            <p class="subtitle">{{name}}</p>
            <p class="subtitle">{{value}}</p>
        </div>
    </div>
    {{/each}}
</div>

<a href="/profile/addstats" class="button is-success is-large column-4" id="add-stat">Add Stats</a>

<script src="/javascript/profilePage.js"></script>